click
Flask
Flask-Cors
importlib-metadata
itsdangerous
Jinja2
joblib
MarkupSafe
numpy
pandas
python-dateutil
pytz
scikit-learn
scipy
six
threadpoolctl
Werkzeug
zipp
matplotlib.pyplot
seaborn
chart_studio
plotly
cufflinks
go_offline
download_plotlyjs
init_notebook_mode
plot
iplot
train_test_split
RandomForestRegressor
metrics
pickle
